@import '@material-symbols/font-400';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body, #__nuxt, #__layout {
    @apply h-dvh w-full
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;

    &.font-fill {
        font-variation-settings: 'FILL' 1 !important;
    }
    &.font-fill-0 {
        font-variation-settings: 'FILL' 0 !important;
    }
    @apply leading-none;
}

@layer utilities {
    /* No Scrollbar */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Scrollbar Styling */
    .yes-scrollbar::-webkit-scrollbar {
        display: block;
        width: 6px;
    }
    .yes-scrollbar {
        -ms-overflow-style: auto;
        scrollbar-width: thin;
    }
    .yes-scrollbar::-webkit-scrollbar-thumb {
        background-color: #4a90e2;
        border-radius: 4px;
    }
    .yes-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #357ABD;
    }
}

@layer base {
    /* Default Page Background and Text */
    body {
        @apply bg-gray-900 text-white;
    }

    button {
        @apply flex items-center justify-center gap-2 flex-none;
        /*transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;*/

        /*&:active {*/
        /*    transform: scale(0.98);*/
        /*    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
        /*}*/
    }

}

@layer components {
    .dropdown-filter {
        @apply flex flex-col gap-1 flex-1;
    }
    .dropdown-filter select {
        @apply bg-stone-700 text-white rounded px-4 py-2 border border-gray-600;
        appearance: none;
    }

    .dropdown-filter option {
        @apply text-gray-300 bg-stone-700;
    }

    .dropdown-filter option:hover {
        @apply text-white bg-stone-600;
    }

    .dropdown-filter option[disabled] {
        @apply text-gray-500 italic;
    }

    .button-xsmall {
        @apply rounded-md py-1 px-2 text-xs
    }

    .button-small {
        @apply rounded-md py-2 px-3 text-sm
    }

    .button-medium {
        @apply py-3 px-4 rounded-lg text-sm
    }

    .button-large{
        @apply p-4 rounded-lg text-sm
    }

    .button-rounded{
        @apply py-3 px-4 rounded-full text-sm
    }

    /* Reusable Button Styles */
    .start {
        @apply bg-green-500 hover:bg-green-600;
    }
    .stop {
        @apply bg-red-500 hover:bg-red-600;
    }
    .restart {
        @apply bg-yellow-500 hover:bg-yellow-600;
    }
    .apply {
        @apply bg-blue-500 hover:bg-blue-600;
    }
    .save {
        @apply bg-green-500 hover:bg-green-600;
    }
    .download {
        @apply bg-blue-600 hover:bg-blue-700;
    }

    button:disabled {
        @apply opacity-60 cursor-not-allowed;
    }
}
