@import '@material-symbols/font-400';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt, #__layout {
    @apply h-full w-full;
}


@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Chrome, Safari and Opera */
    .yes-scrollbar::-webkit-scrollbar {
        display: block;
    }

    .yes-scrollbar {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
}

@layer base {
    body {
        @apply bg-stone-900 text-white;
    }
    #app {
        @apply h-full w-full flex flex-col items-center justify-center;
    }
}

@layer components {
    .rtl-page {
        @apply flex flex-col items-center justify-center w-full h-full px-4;
    }
    .log-container {
        @apply bg-stone-800 rounded p-4 shadow-md w-full max-w-4xl h-[70vh] overflow-y-auto yes-scrollbar;
    }
    .controls {
        @apply flex gap-4 mb-4 w-full max-w-4xl;
    }
    .filter-input,
    .max-length-input {
        @apply flex flex-col gap-1 w-full;
    }
    input {
        @apply px-4 py-2 rounded border border-gray-600 bg-stone-800 text-white focus:outline-none focus:ring focus:ring-blue-500;
    }
}
